:root{
    --primary-color: #004EDA;
    --grey: #f2f2f8;
    --default-padding: 2rem;
    --middle-padding: calc(var(--default-padding)/2);
    --black: #111;
}

body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    color: var(--black);
    /* GRID */
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 64px auto;
}

img{
    max-width: 100%;

}
.mainNav{
    background-color: white;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    position: sticky;
    top: 0;
}

.topnav{
    background-color: white;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topnav_menu{
    display: flex;
    gap: var(--default-padding);
}

.mainNav_menu svg, .topnav_menu svg{
    vertical-align: bottom;
}

.perfil{
    margin-right: var(--default-padding);
    display: flex;
    height: 100%;
    align-items: center;
    
}

.perfil_thumb{
    margin-right: var();
    box-sizing: border-box;
    padding-top: .5rem;
    padding-bottom: .5rem;
    height: 100%;
}

.perfil_thumb img{
    height: 100%; 
}

.perfil_name{
    font-size: .8rem;
    font-weight: 600;
}

.perfil_rule{
    font-size: .7rem;
    color: color-mix(in srgb, var(--black), transparent 60%);
}

main{
    background-color: var(--grey);
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    display: grid;
    gap: var(--default-padding);
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    padding: var(--default-padding);
}

.mainNav_linkLogo{
    padding-left: var(--default-padding);
    padding-top: var(--default-padding);
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
}

.mainNav_menu, .topnav_menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: var(--default-padding);
}

.mainNav_menu a, .topnav_menu a{
    text-decoration: none;
    color: #5a5a5f;
}

.mainNav_menus{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding-top: var(--default-padding);
}

.mainNav_menus li{
    margin-top: 1rem;
}

.mainNav_menu:last-child{
    padding-bottom: var(--default-padding);
}

main > figure{
    margin: 0;
}


main > *{
    grid-column: span 2;
}

main>.grid-half{
    grid-column: span 1;
}

.summary{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--middle-padding) var(--default-padding);
    border-radius: 4px;
}
.summary article{
    padding: var(--middle-padding) 0
}

.summary .number{
    font-size: 1.2rem;
    color: var(--primary-color);
    font-weight: 600;
    margin-left: var(--middle-padding);
}

.separated{
    width: 2px;
    background-color: var(--grey);
    align-self: stretch;
}

.btn{
    background-color: var(--primary-color);
    color: white;
    padding: calc(var(--middle-padding) /2) var(--default-padding);
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    align-items: center;

}

.summary .btn{
    align-self: stretch;
}









    
