:root{
    --primary-color: #004EDA;
    --gray: #D3D3D3;
}

body{
    font-family: "Poppins", sans-serif;
    /* GRID */
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 64px auto;
}

img{
    max-width: 100%;

}
.mainNav{
    background-color: #ccc;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.topnav{
    background-color: #ddd;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

main{
    background-color: #eee;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
}